@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

body {
    font-family: "Work Sans", sans-serif;
}

html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;

    @media (min-width: 768px) {
        padding: 2em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212529;
}
